WorldTree 1 5 2 A
FireDragon 3 7 8 1
InfernoBlaze 2 3 5 6
FrozenSpire 1 1 1 1
FlowerKing A A A A
ShadowTide 2 8 3 A
SeaEmperor A 1 2 4
ForestChampion 8 5 4 6
SpireGuardian 3 4 2 6
SkyQueen 1 2 1 2
FlameSword A 1 A 1
LightBloom 4 8 9 2
FrozenTide 4 4 4 4
PhoenixFlower 2 A A 4
DarkInferno 1 9 2 8
MountainKing 5 4 3 2
PaladinOath 9 8 7 6
DragonBlaze 6 6 2 1
DarkQueen 7 8 9 A
FrozenBeast 2 3 9 2
TempleGuardian 6 7 3 3
FrostGiant A A 2 A